.table-view {
    -fx-border-color: transparent;
    -fx-font-size: 14px; /* Kích thước chữ khi hover */
    -x-font-weight: bold; /* Độ đậm chữ khi hover */
}

.column-header {
    -fx-border-width: 0 ;
    -fx-background-color: white;
     -fx-font-size: 14px;
}
.table-row-cell {
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-border-color:white;
}
.table-view .table-row-cell:hover {
    -fx-background-color: #CCCCCC; /* Màu nền của dòng khi hover */
    -fx-text-fill: white; /* Màu chữ của dòng khi hover */
}
.table-column{
    -fx-border-width: 0;
        -fx-background-color: white;
        -fx-border-color:white;
}

