.table-view {
    -fx-border-color: transparent;
    -fx-font-size: 14px; /* Kích thước chữ khi hover */
    -x-font-weight: bold; /* Độ đậm chữ khi hover */
}

.column-header {
    -fx-border-width: 0 ;
    -fx-background-color: white;
    -fx-font-size: 14px;
}





